<div class="container">
  <div class="header">
    <h1>Weather Information</h1>
    <p>Enter a location to get the current weather information.</p>
  </div>

  <div class="form-container">
    <form action="/weathers" method="get">
      <label for="location">Enter Location:</label>
      <input type="text" placeholder="City, State or ZIP Code" id="location" name="location" required style="border: 2px solid #000; padding: 5px;">
      <button type="submit" style="border: 3px solid #000; padding: 5px 10px;">Get Weather</button>
    </form>
  </div>


  <% if weather_data %>
    <div class="weather-data">
      <h2>Weather Information for <%= weather_data["name"] %>, <%= weather_data["sys"]["country"] %></h2>
      <ul>
        <li><strong>Temperature:</strong> <%= (weather_data["main"]["temp"] - 273.15).round(2) %>°C</li>
        <li><strong>Feels Like:</strong> <%= (weather_data["main"]["feels_like"] - 273.15).round(2) %>°C</li>
        <li><strong>Condition:</strong> <%= weather_data["weather"][0]["main"] %> - <%= weather_data["weather"][0]["description"] %></li>
        <li><strong>Humidity:</strong> <%= weather_data["main"]["humidity"] %>%</li>
        <li><strong>Wind Speed:</strong> <%= weather_data["wind"]["speed"] %> m/s</li>
        <li><strong>Pressure:</strong> <%= weather_data["main"]["pressure"] %> hPa</li>
        <li><strong>Coordinates:</strong> Latitude <%= weather_data["coord"]["lat"] %>, Longitude <%= weather_data["coord"]["lon"] %></li>
        <li><strong>Visibility:</strong> <%= weather_data["visibility"] %> meters</li>
        <li><strong>Cloudiness:</strong> <%= weather_data["clouds"]["all"] %>%</li>
        <li><strong>Sunrise:</strong> <%= Time.at(weather_data["sys"]["sunrise"]).strftime("%H:%M:%S") %></li>
        <li><strong>Sunset:</strong> <%= Time.at(weather_data["sys"]["sunset"]).strftime("%H:%M:%S") %></li>
        <li><strong>Timezone:</strong> UTC <%= weather_data["timezone"] / 3600 %> hours</li>
      </ul>
    </div>

    <div class="weather-cache">
      <% if cache_hit %>
        <p><strong>Status:</strong> Data was <span class="cached">CACHED</span> for ZIP Code <%= zip %>.</p>
      <% else %>
        <p><strong>Status:</strong> Data was <span class="fresh">Freshly Fetched</span> for ZIP Code <%= zip %>. Next request will use cached data.</p>
      <% end %>
    </div>
  <% else %>
    <div class="no-data">
      <p>No weather data available. Please enter a location.</p>
    </div>
  <% end %>
</div>